body{
    background-color: #6699FF;
    color: #D6E3FF;
    font-family: Verdana,Arial,sans-serif;
}
header{
    background-color: #6699FF;
    color: #003366;
    font-family: serif;
}

h1{
    line-height: 200%;
}

nav{
    font-weight: bold;
}
footer{
    font-size: .7em;
    font-style: italic;
}
.category{
    background-color: #6699FF;
    color: #003366;
    font-size: 1.1em;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
